<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><head>
    <title>Table of users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <style>
        table th, table td {
            padding: 10px;
            font-size: 16px;
            border-style: solid;
            border-collapse: collapse;
            border-width: 1px;
        }
    </style>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table class="table table-bordered table-striped table-dark">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${#strings.setJoin(user.getAuthorities, ',')}">...</td>
                <td><a class="btn btn-primary" th:href="@{/admin/user-update/{id}(id=${user.id})}"
                       role="button">Edit</a></td>
                <td><a class="btn btn-primary" th:href="@{/admin/user-delete/{id}(id=${user.id})}"
                       role="button">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a class="btn btn-primary" href="/admin/user-create" role="button">Create user</a></p>
    <a th:href="@{/logout}">Logout</a>

</div>
</body>
</html>